.intro-image {
  width: 20%;
  height: auto;
  margin-top: -1000px;
  margin-left: 750px;
}
.intro-image-absolute {
  max-width: none;

  padding: 0;
  margin-top: -100px;
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
    position: absolute;
    top: -1125px;
    left: 10px;
    width: 250px;
  }
  @include media-breakpoint-up(lg) {
    top: -1125px;
    left: 10px;
    width: 250px;
  }
  @include media-breakpoint-up(xl) {
    top: -1125px;
    left: 10px;
    width: 250px;
  }
}
.intro-image-hide-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
